@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Companies and Organizations";
}
<div class="row" style="margin-left: 10px; margin-right:10px;">
<figure class="col-sm-12" id="background" style="padding:10px; padding-top: 0px;">
    <img src="~/images/Companies/office1.jpg" alt="Companies and Organizations in Industry 4.0" class="img-responsive" />
    <figcaption class="fig" style="padding-top:0; background-color: rgba(0,0,0,0);visibility:visible;">
        <div style="font-size: 5vw; padding-top: 5%;"> 
            Company and Organizations In The Industry 4.0
        </div>
        <p class="subtitle">The Industry 4.0 market is forecasted to reach $1 trillion by 2030, dominated by global technology giants including Alphabet-Google, NEC, Microsoft, and more. Here's are the 6 companies and organizations that have a huge influence on the Industry 4.0.</p>
    </figcaption>
</figure>
    </div>

<div class="row" style="margin-left: 10px; margin-right:10px;">

<figure class="col-sm-6" style="padding:10px;">
    <img src="~/images/Companies/ibm.jpg" alt="IBM" class="img-responsive" />
    <figcaption>
        <div>IBM</div>
        <a class="btn btn-default" href="https://www.ibm.com">Visit Website</a>
    </figcaption>
</figure>
<figure class="col-sm-6" style="padding:10px">
    <img src="~/images/Companies/amazon.jpg" alt="Amazon" class="img-responsive" />
    <figcaption>
        <div>Amazon</div>
        <a class="btn btn-default" href="">Visit Website</a>
    </figcaption>
</figure>
    <figure class="col-sm-12" style="padding:10px">
        <img src="~/images/Companies/Google.jpg" alt="Google" class="img-responsive" />
        <figcaption>
            <div>Google</div>
            <a class="btn btn-default" href="https://www.google.com.au/about/">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-6" style="padding:10px">
        <img src="~/images/Companies/microsoft.jpg" alt="Microsoft" class="img-responsive" />
        <figcaption>
            <div>Microsoft</div>
            <a class="btn btn-default" href="https://www.microsoft.com/">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-6" style="padding:10px">
        <img src="~/images/Companies/CSIRO.jpg" alt="CSIRO" class="img-responsive" />
        <figcaption>
            <div>CSIRO</div>
            <a class="btn btn-default" href="https://www.csiro.au/">Visit Website</a>
        </figcaption>
    </figure>
    <figure class="col-sm-12" style="padding:10px; padding-bottom:0px;">
        <img src="~/images/Companies/6.jpg" alt="Deparment of Industry Innovation and Science" class="img-responsive" />
        <figcaption>
            <div>Department Of Industry, Innovation and Science</div>
            <a class="btn btn-default" href="https://www.industry.gov.au/">Visit Website</a>
        </figcaption>
    </figure>
    </div>
    <br />

    <div class="title">Feedback</div>


    <style>
        .fig {
            top: 20%;
        }
        @@media (min-width: 1281px) {
            figure > figcaption > div {
                font-size: 50px;
            }
        }

        @@media (min-width: 1025px) and (max-width:1280px) {
            figure > figcaption > div {
                font-size: 40px;
            }
        }

        @@media (min-width: 768px) and (max-width: 1024px) {
            figure > figcaption > div {
                font-size: 35px;
            }
        }

        @@media (max-width: 768px) {
            figure > figcaption > div {
                font-size: 5vw;
            }
        }
    </style>
